html, body {
    height: 100%;
}

.wrapper {
	max-width:100%;
	max-height: 100%;
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
}
#googleMap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.header {
	position: absolute;
	z-index: 1;
	top:-20px;
}

.menu {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 35px;
}

.search-bar {
	position: absolute;
	z-index: 1;
	top: 35px;
	left: 0;
}

.input-group {
	max-width: 600px;
	width: 70%;
	left: 0;
}

h1 {
	margin-bottom: 0;
}

.place-list {
	position: absolute;
	z-index: 2;
	top: 90px;
	left: 0;
	text-align: left;
	overflow: hidden;

}

.list-group-item {
	padding: 8px 15px;
	opacity: .8;
}

.error-display {
	opacity: 1;
	z-index: 3;
	min-width: 60%;
	background-color: rgb(255, 126, 0);;
}

#pano {
	position: absolute;
	z-index: 1;
	left: 350px;
	bottom: 0;
	width: 50%;
	height: 45%
}

@media screen and (max-width: 400px) {
	.list-group {
		max-height: 350px;
		overflow-y: scroll;
	}
	#pano {
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 45%
	}
}
